<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPSAPIKEY}}&libraries=places"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    {{#if user}}
    <a href="/play">Play</a>
    <a href="/map">Map</a>
    <a href="/profile">Profile</a>
    <a href="/leader-board">Leader Board</a>
    {{#if isAdmin}}
    <a href="/movie-creation">Movie Creation</a>
    <a href="/movies-list">Movies List</a>
    {{/if}}
    {{/if}}
    {{#unless user}}
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    {{/unless}}
    {{#if user}}
    <a href="/auth/logout">Logout</a>
    {{/if}}

    {{#if user}}
    <span>User: {{user.username}} | {{user.role}}</span>
    {{/if}}
  </nav>

  <section class="contents">
    {{{body}}}
  </section>

  
  <script src="/javascripts/script.js"></script>
</body>

</html>